# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# ENV
# =========================
.env
.env.*
!.env.example

# =========================
# LARAVEL (API)
# =========================
/api/vendor
/api/node_modules
/api/storage/*.key
/api/storage/logs/*
/api/storage/framework/cache/*
/api/storage/framework/sessions/*
/api/storage/framework/views/*
/api/bootstrap/cache/*
/api/public/storage

# =========================
# VUE (WEB)
# =========================
/web/node_modules
/web/dist
/web/.vite
/web/.cache

# =========================
# IDE
# =========================
.idea
.vscode
*.log

# =========================
# DOCKER
# =========================
docker-data
mysql_data